<div class="animated fadeIn" style="width: 100%;">
  <div class="row">
     <div class="col-md-6">
        <div class="card">
           <div style="background-color: #F0F3F5;" class="card-header">
              UpdateTools
           </div>
           <form  id="spareeditform" #toolseditform="ngForm" (ngSubmit)="updateeditformsumbit()">
           <fieldset [disabled]="enable">
              <div class="card-body">
                 <div class="controls">
                    <div class="input-prepend input-group">
                       <div class="input-group-prepend">
                          <span class="input-group-text">Seq No</span>
                       </div>
                       <input type="text"  class="form-control"  placeholder=" Sequence Number" name="sno" [(ngModel)]="tools.sno"  [class.is-invalid]="sno.invalid && sno.touched"  required ngModel #sno="ngModel" >
                    </div>
                    <div class="text-danger" *ngIf="sno.errors && (sno.invalid && sno.touched)">
                       <div class="text-danger" *ngIf ="sno.errors?.required"> Seqno is required.</div>
                    </div>
                 </div>
                 <br>
                 <div class="controls">
                    <div class="input-prepend input-group">
                       <div class="input-group-prepend">
                          <span class="input-group-text">Tools No</span>
                       </div>
                       <input type="text" class="form-control" placeholder="ToolsNo" autocomplete="Toolsno" name="toolsno" [(ngModel)]="tools.toolsno"  [class.is-invalid]="toolsno.invalid && toolsno.touched" #toolsno="ngModel" required >
                    </div>
                    <div class="text-danger" *ngIf="toolsno.errors && (toolsno.invalid && toolsno.touched)">
                       <div class="text-danger" *ngIf ="toolsno.errors?.required"> Tools No is required.</div>
                    </div>
                 </div>
                 <br>
                 <div class="controls">
                    <div class="input-prepend input-group">
                       <div class="input-group-prepend">
                          <span class="input-group-text">Part No</span>
                       </div>
                       <input type="text" class="form-control" placeholder="Part No"  name="partno" [(ngModel)]="tools.partno" [class.is-invalid]="partno.invalid && partno.touched"  ngModel #partno="ngModel" required >
                    </div>
                    <div class="text-danger" *ngIf="partno.errors && (partno.invalid && partno.touched)">
                       <div class="text-danger" *ngIf ="partno.errors?.required"> Part No is required.</div>
                    </div>
                 </div>
                 <br>
                 <div class="controls">
                    <div class="input-prepend input-group">
                       <div class="input-group-prepend">
                          <span class="input-group-text">Oem</span>
                       </div>
                       <input type="text" class="form-control" placeholder="oem" ngModel [class.is-invalid]="gdm.invalid && gdm.touched" #gdm="ngModel"  [(ngModel)]="tools.gdm" name="gdm"  required  >
                    </div>
                    <div class="text-danger" *ngIf="gdm.errors && (gdm.invalid && gdm.touched)">
                       <div class="text-danger" *ngIf ="gdm.errors?.required"> Oem is required.</div>
                    </div>
                 </div>
                 <br>
                 <div class="controls">
                    <div class="input-prepend input-group">
                       <div class="input-group-prepend">
                          <span class="input-group-text">Description</span>
                       </div>
                       <input type="text" class="form-control" placeholder="Description" [class.is-invalid]="description.invalid && description.touched"  ngModel #description="ngModel"  [(ngModel)]="tools.description"name="description"  required  >
                    </div>
                    <div class="text-danger" *ngIf="description.errors && (description.invalid && description.touched)">
                       <div class="text-danger" *ngIf ="description.errors?.required"> Description is required.</div>
                    </div>
                 </div>
                 <br>
                 <div class="form-group">
                    <label for="name">
                    Image</label>
                    <input type="file" name="uploadDocument"    (change)="onFileSelected($event)"  #fileinput id="files">
                    <br>
                    <carousel [interval]="false" [(activeSlide)]="activeSlideIndex">
                    <div *ngFor="let subCategory of tools.imgname?.split(',');let index=index">
                       <slide>
                          <img src="http://localhost:8080/uploads/{{subCategory}}"  class="pull-right" alt="First slide" class="d-block w-100">
                          <div class="carousel-caption">
                             <h4 align="left">Slide {{index}}</h4>
                          </div>
                       </slide>
                    </div>
                    </carousel>
                    <br>
                    <div>
                       <button type="button" class="btn btn-primary"
                          (click)="imguser()">Add Slide
                       </button>
                       <button type="button" class="btn btn-primary"
                          (click)="deleteSlide()">Remove
                       </button>
                    </div>
                 </div>
                 <button type="submit" class="btn btn-primary " id="btnContactUs" [disabled]='!toolseditform.valid'>
                 Update</button>
              </div>
           </fieldset>
           </form>
        </div>
     </div>
  </div>