.orange {
  background-color: orange;
}
.green {
  background-color: green;
}

img {
  border-radius: 50%;
}

.blink {
  background-color: red;
 
}

.red {
  background-color: red;
}

.skyblue {
  background-color: skyblue;
}

