<div class="app-body">
  <main class="main d-flex align-items-center">
     <div class="container">
        <br><br><br><br><br><br>
        <div class="row">
           <div class="col-md-8 mx-auto">
              <div class="card mx-4">
                 <div class="card-body p-4">
                    <h2> Aircraft Maintenance Management System</h2>
                    <h2> version 1</h2>
                    <span>AIRCRAFT MAINTANANCE MANAGEMENT SYSTEM &copy; 2021.</span>
                    &nbsp;   &nbsp;
                    <span class="ml-auto">Powered by <a href="https://ksix.in/">Ksix</a></span>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </main>
</div>