<div class="animated fadeIn" style="max-width:100%;">
  <div class="row">
     <div class="col-md-6">
        <div class="card">
           <div class="card-header">Add Tools</div>
           <div class="card-body ">
              <form  #addtoolsform="ngForm" (ngSubmit)="adduserformsubmit()">
              <span class ="text-info"></span>
              <div *ngIf="alert1" class="alert-success alert-dismissible fade show" role="alert">
                 <strong>Well done!</strong> You Registered GSE Successfully !.
                 <button (click)="closealert()"type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
              </div>
              <h1 > {{mess1}} </h1>
              <div class="controls">
                 <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                       <span class="input-group-text">Seq No</span>
                    </div>
                    <input type="text"  class="form-control"  placeholder=" Sequence Number" name="sno" [(ngModel)]="tools.sno"  [class.is-invalid]="sno.invalid && sno.touched"  required ngModel #sno="ngModel" >
                 </div>
                 <div class="text-danger" *ngIf="sno.errors && (sno.invalid && sno.touched)">
                    <div class="text-danger" *ngIf ="sno.errors?.required"> Seqno is required.</div>
                 </div>
              </div>
              <br>
              <div class="controls">
                 <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                       <span class="input-group-text">Tools No</span>
                    </div>
                    <input type="text" class="form-control" placeholder="ToolsNo" autocomplete="Toolsno" name="toolsno" [(ngModel)]="tools.toolsno"  [class.is-invalid]="toolsno.invalid && toolsno.touched" #toolsno="ngModel" required >
                 </div>
                 <div class="text-danger" *ngIf="toolsno.errors && (toolsno.invalid && toolsno.touched)">
                    <div class="text-danger" *ngIf ="toolsno.errors?.required"> Tools No is required.</div>
                 </div>
              </div>
              <br>
              <div class="controls">
                 <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                       <span class="input-group-text">Part No</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Part No"  name="partno" [(ngModel)]="tools.partno" [class.is-invalid]="partno.invalid && partno.touched"  ngModel #partno="ngModel" required >
                 </div>
                 <div class="text-danger" *ngIf="partno.errors && (partno.invalid && partno.touched)">
                    <div class="text-danger" *ngIf ="partno.errors?.required"> Part No is required.</div>
                 </div>
              </div>
              <br>
              <div class="controls">
                 <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                       <span class="input-group-text">Oem</span>
                    </div>
                    <input type="text" class="form-control" placeholder="oem" ngModel [class.is-invalid]="gdm.invalid && gdm.touched" #gdm="ngModel"  [(ngModel)]="tools.gdm" name="gdm"  required  >
                 </div>
                 <div class="text-danger" *ngIf="gdm.errors && (gdm.invalid && gdm.touched)">
                    <div class="text-danger" *ngIf ="gdm.errors?.required"> Oem is required.</div>
                 </div>
              </div>
              <br>
              <div class="controls">
                 <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                       <span class="input-group-text">Description</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Description" [class.is-invalid]="description.invalid && description.touched"  ngModel #description="ngModel"  [(ngModel)]="tools.description"name="description"  required  >
                 </div>
                 <div class="text-danger" *ngIf="description.errors && (description.invalid && description.touched)">
                    <div class="text-danger" *ngIf ="description.errors?.required"> Description is required.</div>
                 </div>
              </div>
              <br>
              <div class="button">  <button type="submit" class="btn btn-primary"  [ng2-loading]="show"  [disabled]="!addtoolsform.valid" [config]="loadingConfig">Submit</button>
              </div>
              </form>
           </div>
        </div>
     </div>
  </div>
</div>